# Webhook Configuration
WEBHOOK_ENVIRONMENT=
WEBHOOK_API_URL=
WEBHOOK_API_V1_PREFIX=
WEBHOOK_ID=

# Logger
LOG_LEVEL=

# Cloudflare
CLOUDFLARE_R2_ENDPOINT=
CLOUDFLARE_R2_ACCESS_KEY_ID=
CLOUDFLARE_R2_SECRET_ACCESS_KEY=
CLOUDFLARE_R2_VENDOR_PRODUCT_DATA_BUCKET_NAME=



