# Application Configuration
NODE_ENV=
PORT=
API_URL=
API_V1_PREFIX=

# Logger
LOG_LEVEL=

# Cloudflare
CLOUDFLARE_R2_ENDPOINT=
CLOUDFLARE_R2_ACCESS_KEY_ID=
CLOUDFLARE_R2_SECRET_ACCESS_KEY=
CLOUDFLARE_R2_VENDOR_PRODUCT_DATA_BUCKET_NAME=



